bin/
env/ 
.idea/
__pycache__/
.DS_Store

# cred file
.cred
.passwords

# vscode file
.vscode

# local strategies
strategies/

# ipy file for testing
*.ipynb*

# coverage html
htmlcov/*

.coverage
.coveragerc
*,cover

