{% extends "layout.html" %}
{% block content %}

<div class="container">
    <br><br>
    <h3>
        Strategy Page for {{username}}
    </h3>
    <br><br>
    Choose a strategy to start backtesting
    <br><br>
</div>

<br><br>

<div class="container">

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Modified Date</th>
            <th scope="col">Modified User</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for i,value in df.iterrows() %}
        <tr>
            <th scope="row">{{i}}</th>
            <td>{{value['strategy_name']}}</td>
            <td>{{value['last_modified_date']}}</td>
            <td>{{value['last_modified_user']}}</td>
            <td>
                <button id="strategyButton" onclick="strategyButtonFunc({{value['strategy_id']}})" type="button"
                        class="btn btn-primary">Backtest
                </button>
                <button id="deleteStrategy" onclick="deleteStrategy({{value['strategy_id']}})" type="button"
                        class="btn btn btn-danger">X
                </button>
            </td>

        </tr>
        {% endfor %}
        </tbody>
    </table>

    <br></br>

    <form action="/upload" method="GET" enctype="multipart/form-data">
        <button id="GoToHome" type="submit" class="btn btn-primary">Upload Strategies</button>
    </form>

    <br></br>

    <form action="/results" method="GET" enctype="multipart/form-data">
        <button id="GoToResults" type="submit" class="btn btn-primary">View Results</button>
    </form>
</div>


<script>
    function strategyButtonFunc(strategyId) {
        window.open(
            '/strategy?id=' + Number(strategyId),
            '_blank' // <- This is what makes it open in a new window.
        );
    };

    function deleteStrategy(strategyId) {
        const path = '/strategy?id=' + Number(strategyId);
        params = {};
        post(path, params);
    };

    function post(path, params, method = 'post') {

        // The rest of this code assumes you are not using a library.
        // It can be made less wordy if you use one.
        const form = document.createElement('form');
        form.method = method;
        form.action = path;

        for (const key in params) {
            if (params.hasOwnProperty(key)) {
                const hiddenField = document.createElement('input');
                hiddenField.type = 'hidden';
                hiddenField.name = key;
                hiddenField.value = params[key];

                form.appendChild(hiddenField);
            }
        }

        document.body.appendChild(form);
        form.submit();
    };

</script>


{% endblock content %}


