{% extends "layout.html" %}
{% block content %}
<h1>Upload Your Files Here</h1>

<form action="/upload" method="POST" enctype="multipart/form-data">

    <label for="user_file">Upload Your File. Note that your file should be a .py file</label>
    <br></br>
    <input type="file" name="user_file">
    <br></br>

    <label for="strategy_name">Enter your strategy name, e.g. "Michael's strategy"</label>
    <br></br>
    <input type="text" name="strategy_name">
    <br></br>

    <button type="submit">Upload</button>
</form>

<br></br>

<form action="/strategies" method="GET" enctype="multipart/form-data">
    <button id="GoToStrategies" type="submit" class="btn btn-primary">All Strategies</button>
</form>


{% endblock content %}