{% extends "layout.html" %}
{% block content %}
    <h1>Welcome Page</h1>

    We are Alchemist, we create an open source platform, providing user to run their strategies

    Backtesting is the process of applying a trading strategy or analytical
    method to historical data to see how accurately the strategy or method would have predicted actual results.

    <body>
      <script src="https://cdn.jsdelivr.net/npm/markdown-element/dist/markdown-element.min.js"></script>
      <mark-down>
        ## h2

        * test
          * test2

        ```javascript
        let x = 'asdf'

        class Text {
          constructor() {

          }
        }
        ```
      </mark-down>
    </body>
{% endblock content %}
